// Variables

$primary: #4b2e83;
$dark: #444444;
$light: #fff;
$gold: #85754d;
$shadow: rgba(51, 0, 111, 1);

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $dark;
$intro-text-color: $light;
$navbar-color: $light;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $primary;
